<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:switch="${coordinates}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="xy : ${coordinates}">
                <td th:text="${xy.startX}"></td>
                <td th:text="${xy.startY}"></td>
                <td th:text="${xy.endX}"></td>
                <td th:text="${xy.endY}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>