<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        tr, td, th {
            padding: 20px;
        }
        #tabel1{
            position: absolute;
            top: 1px;
            left: 500px;
        }
        #tabel1 {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            font-size: 14px;
            text-align: left;
            border-collapse: collapse;
            border-radius: 20px;
            box-shadow: 0 0 0 10px #F2906B;
            color: #452F21;
        }

    </style>
</head>
<body>
<div th:switch="${coordinates}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="xy : ${coordinates}">
                <td th:text="${xy.endX}"></td>
                <td th:text="${xy.endY}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="tabel1">
    <table border="2" style="text-align: center; font-weight: bold;">
        <thead>
        <tr>
            <th></th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="map : ${map}">
            <td th:text="${map.id}" th:href="@{/bots}"></td>
            <td><a th:text="${map.one}" th:href="@{/bots}"></a></td>
            <td th:text="${map.two}"></td>
            <td th:text="${map.three}"></td>
            <td th:text="${map.four}"></td>
            <td th:text="${map.five}"></td>
            <td th:text="${map.six}"></td>
            <td th:text="${map.seven}"></td>
            <td th:text="${map.eight}"></td>
            <td th:text="${map.nine}"></td>
            <td th:text="${map.ten}"></td>

        </tr>

        </tbody>
    </table>
</div>
</body>
</html>